.site-header {
   background-color: $color-white;
   padding: 25px 0px;

   a {
      text-decoration: none;
      color: $color-black;
   }

   &__logo {
      @include span-columns(6);

      img {
         max-width: 100%;
      }
   }

   &__contact {
      @include span-columns(6);
      text-align: right;

      &-header {
         text-transform: uppercase;
         @include font-header;
         font-size: 16px;
         letter-spacing: 1px;
         display: inline;
         

         a {
            color: $color-blue;
            text-decoration: none;
            font-weight: 400;

            &#larger {
               font-size: 28px;
            }
         }
      }

      &-details {
         line-height: 32px;
         font-size: 16px;
         margin-top: 32px;
      }

      &-email {
         display: inline-block;
      }

      &-email-icon {
         background-image: url('../images/buttons/icons/phone-email-icon.png');
         display: inline-block;
         vertical-align: top;
         content: '';
         margin-right: 10px;
      }

      &-email-icon {
         width: 25px;
         height: 21px;
         background-position: 25px center;
      }

      &-text {
         display: none;

         @include media($tablet-lrg-breakpoint) {
            display: inline;
         }
      }
   }

   &__email {
      display: inline-block;
      margin-left: 25px;
      vertical-align: top;
      line-height: 15px;
   }
   
   @media(max-width:$tablet-breakpoint) {
      
      &__email, .contact-h {
         display:none;
      }
   }
   
   .contact-h {
      font-size:20px;
   }
}
